header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header > div {
    background: url(../images/logo.png) no-repeat;
    width: 142px;
    height: 60px;
    margin: 5px 20px;
}
