.places {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: -1;
}

.places > h1 {
    font-size: 30px;
}

.place-group {
    position: absolute;
    left: 50px;
}

.place {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.place h2 {
    font-size: 30px;
    text-align: center;
}

.place:last-child {
    position: absolute;
    left: 25%;
}
